/*
Theme Name: Modulus
Theme URI: http://www.webulousthemes.com/modulus/
Author: N. Venkat Raj
Author URI: http://www.webulousthemes.com/
Description: Modulus comes with modern, stylish and responsive design. It uses skeleton framework for grids which keeps minimal css. Stylesheet is generated using SASS and so stays DRY. Best suited for Corporate/Business/Blog sites. There is no theme options panel, instead uses Customizer, core feature of WordPress and comes with lots of options to customize. Has 4 Footer Widget Areas.
Version: 1.2.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: modulus
Tags: custom-menu, custom-background, featured-images, right-sidebar, sticky-post, threaded-comments, translation-ready, two-columns

Modulus WordPress Theme, Copyright (C) 2016, N. Venkat Raj
Modulus is distributed under the terms of the GNU GPL

Modulus is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Grid
3.0 Typography
4.0 Elements
	4.1 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Media
	6.1 Captions
	6.2 Galleries	
7.0 Modules
	7.1 Accessibility
	7.2 Alignments
	7.3 Clearings
	7.4 Infinite scroll
8.0 Header
9.0 Primary
10.0 Secondary
11.0 Footer
12.0 Responsiveness

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  box-sizing: border-box;
  /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */ }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
  overflow: hidden; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

/*--------------------------------------------------------------
2.0 Grid
--------------------------------------------------------------*/
.container {
  position: relative;
  width: 93%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0; }
  .container .one.column {
    width: 4.1%; }
  .container .two.columns {
    width: 10.4%; }
  .container .three.columns {
    width: 16.6%; }
  .container .four.columns {
    width: 22.9%; }
  .container .five.columns {
    width: 29.16%; }
  .container .six.columns {
    width: 35%; }
  .container .seven.columns {
    width: 41.6%; }
  .container .eight.columns {
    width: 47.9%; }
  .container .nine.columns {
    width: 54.16%; }
  .container .ten.columns {
    width: 60%; }
  .container .eleven.columns {
    width: 66.66%; }
  .container .twelve.columns {
    width: 72.9%; }
  .container .thirteen.columns {
    width: 79.16%; }
  .container .fourteen.columns {
    width: 85%; }
  .container .fifteen.columns {
    width: 91.66%; }
  .container .sixteen.columns {
    width: 97.9%; }
  .container .one-third.column {
    width: 31.25%; }
  .container .one-fourth.column {
    width: 23%; }
  .container .two-thirds.column {
    width: 64.5%; }
  .container .offset-by-one {
    padding-left: 6.25%; }
  .container .offset-by-two {
    padding-left: 12.5%; }
  .container .offset-by-three {
    padding-left: 18.75%; }
  .container .offset-by-four {
    padding-left: 25%; }
  .container .offset-by-five {
    padding-left: 31.25%; }
  .container .offset-by-six {
    padding-left: 37.5%; }
  .container .offset-by-seven {
    padding-left: 43.7%; }
  .container .offset-by-eight {
    padding-left: 50%; }
  .container .offset-by-nine {
    padding-left: 56.25%; }
  .container .offset-by-ten {
    padding-left: 62.5%; }
  .container .offset-by-eleven {
    padding-left: 68.75%; }
  .container .offset-by-twelve {
    padding-left: 75%; }
  .container .offset-by-thirteen {
    padding-left: 81.25%; }
  .container .offset-by-fourteen {
    padding-left: 87.5%; }
  .container .offset-by-fifteen {
    padding-left: 93.75%; }

.column, .columns {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%; }
  .column .alpha, .columns .alpha {
    margin-left: 0; }
  .column .omega, .columns .omega {
    margin-right: 0; }

.row {
  margin-bottom: 2%; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 93%; }
    .container .column, .container .columns {
      margin-left: 1.3%;
      margin-right: 1.3%; }
      .container .column .alpha, .container .columns .alpha {
        margin-left: 0;
        margin-right: 1.3%; }
      .container .column .omega, .container .columns .omega {
        margin-left: 1.3%;
        margin-right: 0%; }
    .container .one.column {
      width: 3.64%; }
    .container .two.columns {
      width: 9.89%; }
    .container .three.columns {
      width: 16.1%; }
    .container .four.columns {
      width: 22.39%; }
    .container .five.columns {
      width: 28.64%; }
    .container .six.columns {
      width: 34.89%; }
    .container .seven.columns {
      width: 41.14%; }
    .container .eight.columns {
      width: 47.39%; }
    .container .nine.columns {
      width: 53.64%; }
    .container .ten.columns {
      width: 59.89%; }
    .container .eleven.columns {
      width: 66.14%; }
    .container .twelve.columns {
      width: 72.39%; }
    .container .thirteen.columns {
      width: 78.64%; }
    .container .fourteen.columns {
      width: 84.89%; }
    .container .fifteen.columns {
      width: 91.14%; }
    .container .sixteen.columns {
      width: 97.39%; }
    .container .one-third.column {
      width: 30.72%; }
    .container .one-fourth.column {
      width: 20.72%; }
    .container .two-thirds.column {
      width: 64%; }
    .container .offset-by-one {
      padding-left: 6.25%; }
    .container .offset-by-two {
      padding-left: 12.5%; }
    .container .offset-by-three {
      padding-left: 18.75%; }
    .container .offset-by-four {
      padding-left: 25%; }
    .container .offset-by-five {
      padding-left: 31.25%; }
    .container .offset-by-six {
      padding-left: 37.5%; }
    .container .offset-by-seven {
      padding-left: 43.75%; }
    .container .offset-by-eight {
      padding-left: 45%; }
    .container .offset-by-nine {
      padding-left: 56.25%; }
    .container .offset-by-ten {
      padding-left: 62.5%; }
    .container .offset-by-eleven {
      padding-left: 68.75%; }
    .container .offset-by-twelve {
      padding-left: 75%; }
    .container .offset-by-thirteen {
      padding-left: 81.25%; }
    .container .offset-by-fourteen {
      padding-left: 87.5%; }
    .container .offset-by-fifteen {
      padding-left: 93.75%; } }
@media only screen and (max-width: 767px) {
  .container {
    width: 93%; }
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .one-fourth.column,
    .container .two-thirds.column {
      width: 100%; }
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen {
      padding-left: 0; }

  .columns, .column {
    margin: 0; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 93%; }
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .one-fourth.column,
    .container .two-thirds.column {
      width: 100%; }

  .columns, .column {
    margin: 0; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.panel-row-style-full-width-layout:before,
.panel-row-style-full-width-layout:after,
.panel-row-style-cta:before,
.panel-row-style-cta:after,
.panel-row-style-cta:before,
.panel-row-style-section-pattern2:after,
.panel-row-style-section-pattern2:before,
.panel-row-style-wide-grey:before,
.panel-row-style-wide-grey:after,
.panel-row-style-wide-dark-grey:before,
.panel-row-style-wide-dark-grey:after,
.panel-row-style-section-pattern:before,
.panel-row-style-section-pattern:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after,
.panel-row-style-full-width-layout:before,
.panel-row-style-full-width-layout:after,
.panel-row-style-wide-grey:after,
.panel-row-style-wide-grey:before,
.panel-row-style-wide-dark-grey:after,
.panel-row-style-wide-dark-grey:before,
.panel-row-style-section-pattern2:after,
.panel-row-style-section-pattern2:before,
.panel-row-style-section-pattern:before,
.panel-row-style-section-pattern:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* ==|== primary styles =====================================================
   Author: Lucas - Skeleton Based Media Queries
   ========================================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*--------------------------------------------------------------
3.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #33363a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #33363a;
  clear: both;
  font-weight: 700;
  margin-bottom: 15px; }

h1 {
  font-size: 48px;
  font-size: 4.8rem; }

h2 {
  font-size: 36px;
  font-size: 3.6rem; }

h3 {
  font-size: 30px;
  font-size: 3rem; }

h4 {
  font-size: 24px;
  font-size: 2.4rem; }

h5 {
  font-size: 18px;
  font-size: 1.8rem; }

h6 {
  font-size: 16px;
  font-size: 1.6rem; }

p {
  margin-bottom: 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #d7d7d7;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #33363a;
  cursor: help; }

mark, ins {
  background: #d7d7d7;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
4.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #d7d7d7;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: square; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }
  table th {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase; }
    table th a {
      font-weight: 400; }
  table td, table th {
    border-bottom: 1px solid #d7d7d7;
    padding: 10px; }
  table thead tr th {
    font-weight: 700; }

button,
input,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

select {
  background: #fff url("images/down.png") no-repeat 95% 50%;
  border: 1px solid #d7d7d7;
  padding: 5px 10% 5px 3%;
  -moz-appearance: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  background: #33363a;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  line-height: 1;
  padding: 1em 1.5em;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #0e1353;
  background-color: #0e1353;
  position: relative;
  color: #fff; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #33363a;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #d7d7d7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #000;
  border-color: #03a9f4; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 6px 15px;
  width: 96%; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding: 10px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: square; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  color: #03a9f4;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:visited {
    color: #03a9f4; }
  a:hover, a:focus, a:active {
    color: #33363a;
    outline: none;
    outline-offset: 0; }

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.nav-wrap {
  background: #03a9f4; }

.main-navigation {
  display: block;
  background-color: transparent;
  float: left; }
  .main-navigation ul {
    list-style: none;
    margin: 0; }
    .main-navigation ul ul {
      position: absolute;
      top: auto;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li {
        padding: 0;
        background-color: #03a9f4;
        margin: 0; }
        .main-navigation ul ul li:hover > ul {
          margin-top: 5px !important; }
      .main-navigation ul ul a {
        width: 250px;
        padding: 12px 15px;
        font-weight: none;
        background-color: #fff;
        color: #03a9f4; }
    .main-navigation ul li:hover > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
    .main-navigation li:hover {
      background: #33363a; }
      .main-navigation li:hover:before {
        position: absolute;
        content: "";
        height: 10px;
        background: #33363a;
        top: -10px;
        left: 0;
        width: 100%; }
      .main-navigation li:hover:after {
        position: absolute;
        content: "\f0d7";
        font-family: "fontawesome";
        color: #33363a;
        right: -11px;
        top: -23px;
        font-size: 29px;
        transform: rotate(44deg); }
  .main-navigation a {
    position: relative;
    padding: 18px 22px;
    display: block;
    color: #fff;
    text-transform: uppercase; }
  .main-navigation li:hover .sub-menu a:after, .main-navigation li:hover .sub-menu a:before, .main-navigation li:hover .children a:after, .main-navigation li:hover .children a:before {
    display: none; }
  .main-navigation .current_page_item,
  .main-navigation .current-menu-item,
  .main-navigation .current_page_ancestor, .main-navigation .current-menu-parent {
    color: #fff;
    position: relative; }
    .main-navigation .current_page_item:before,
    .main-navigation .current-menu-item:before,
    .main-navigation .current_page_ancestor:before, .main-navigation .current-menu-parent:before {
      position: absolute;
      content: "";
      height: 10px;
      background: #33363a;
      top: -10px;
      left: 0;
      width: 100%; }
    .main-navigation .current_page_item:after,
    .main-navigation .current-menu-item:after,
    .main-navigation .current_page_ancestor:after, .main-navigation .current-menu-parent:after {
      position: absolute;
      content: "\f0d7";
      font-family: "fontawesome";
      color: #33363a;
      right: -11px;
      top: -23px;
      font-size: 29px;
      transform: rotate(44deg); }
  .main-navigation .current_page_item,
  .main-navigation .current-menu-item,
  .main-navigation .current_page_ancestor, .main-navigation .current-menu-parent > a {
    background: #33363a; }
  .main-navigation .sub-menu .current_page_item,
  .main-navigation .sub-menu .current-menu-item,
  .main-navigation .sub-menu .current_page_ancestor,
  .main-navigation .children .current_page_item,
  .main-navigation .children-menu .current-menu-item,
  .main-navigation .children-menu .current_page_ancestor {
    color: #fff;
    background: #33363a; }
    .main-navigation .sub-menu .current_page_item:after,
    .main-navigation .sub-menu .current-menu-item:after,
    .main-navigation .sub-menu .current_page_ancestor:after,
    .main-navigation .children .current_page_item:after,
    .main-navigation .children-menu .current-menu-item:after,
    .main-navigation .children-menu .current_page_ancestor:after {
      display: none; }
  .main-navigation .sub-menu .current_page_item > a,
  .main-navigation .sub-menu .current-menu-item > a,
  .main-navigation .sub-menu .current_page_ancestor > a,
  .main-navigation .children .current_page_item > a,
  .main-navigation .children .current-menu-item > a,
  .main-navigation .children .current_page_ancestor > a {
    background: #03a9f4;
    color: #fff; }
    .main-navigation .sub-menu .current_page_item > a:before, .main-navigation .sub-menu .current_page_item > a:after,
    .main-navigation .sub-menu .current-menu-item > a:before,
    .main-navigation .sub-menu .current-menu-item > a:after,
    .main-navigation .sub-menu .current_page_ancestor > a:before,
    .main-navigation .sub-menu .current_page_ancestor > a:after,
    .main-navigation .children .current_page_item > a:before,
    .main-navigation .children .current_page_item > a:after,
    .main-navigation .children .current-menu-item > a:before,
    .main-navigation .children .current-menu-item > a:after,
    .main-navigation .children .current_page_ancestor > a:before,
    .main-navigation .children .current_page_ancestor > a:after {
      display: none; }

.main-navigation .sub-menu, .main-navigation .children {
  padding: 10px 0px 0px;
  width: 250px;
  background: #33363a; }
  .main-navigation .sub-menu li, .main-navigation .children li {
    position: relative; }
    .main-navigation .sub-menu li a, .main-navigation .children li a {
      color: #fff;
      background: #33363a;
      padding: 12px 15px 12px 25px; }
      .main-navigation .sub-menu li a:hover, .main-navigation .children li a:hover {
        background-color: #03a9f4; }
        .main-navigation .sub-menu li a:hover:after, .main-navigation .sub-menu li a:hover:before, .main-navigation .children li a:hover:after, .main-navigation .children li a:hover:before {
          display: none; }
  .main-navigation .sub-menu li:hover:before, .main-navigation .sub-menu li:hover:after, .main-navigation .children li:hover:before, .main-navigation .children li:hover:after {
    display: none; }

/* Small menu */
.menu-toggle {
  display: none; }

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block !important;
    margin: 0 auto; }
    .menu-toggle ul li:hover ul,
    .main-navigation.toggled .nav-menu ul li:hover ul {
      left: auto;
      margin-left: 0; }

  .site-header .sticky-nav {
    position: static; }

  .children article::after {
    display: none; }

  .main-navigation ul {
    display: none; }

  .main-navigation ul li {
    float: none; }
    .main-navigation ul li a {
      display: block; }

  .main-navigation .sub-menu, .main-navigation .children {
    width: 100%;
    display: block !important;
    padding: 0; }
    .main-navigation .sub-menu .sub-menu, .main-navigation .sub-menu .children, .main-navigation .children .sub-menu, .main-navigation .children .children {
      padding-left: 20px;
      background: #03a9f4; }
    .main-navigation .sub-menu li a, .main-navigation .children li a {
      background: #03a9f4; }
      .main-navigation .sub-menu li a:hover, .main-navigation .children li a:hover {
        color: #33363a; }
    .main-navigation .sub-menu .current_page_item > a, .main-navigation .children .current_page_item > a {
      color: #33363a; }

  .main-navigation ul ul {
    position: static;
    width: 100%; }
    .main-navigation ul ul a {
      width: 100%; }
    .main-navigation ul ul li:hover > ul {
      margin-top: 0 !important; }

  .main-navigation .current_page_item::before, .main-navigation .current-menu-item::before, .main-navigation .current_page_ancestor::before, .main-navigation .current-menu-parent::before, .main-navigation .current_page_item::after, .main-navigation .current-menu-item::after, .main-navigation .current_page_ancestor::after, .main-navigation .current-menu-parent::after, .main-navigation li:hover::after, .main-navigation li:hover::before {
    display: none; }

  .main-navigation {
    float: none; }

  site-navigation button {
    background: #03a9f4; }

  .menu-all-pages-container {
    padding-top: 15px; }

  .main-navigation {
    padding-top: 15px; }

  .main-navigation .menu ul.nav-menu {
    display: none; } }
.comment-navigation,
.paging-navigation,
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation {
  margin-bottom: 2.5em; }

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 48%;
  margin: 1%; }

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 47%;
  margin: 1%; }

.post-navigation span {
  display: none; }

.navigation a,
.more-link,
.comment-navigation a {
  background-color: #33363a;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block; }
  .navigation a:hover,
  .more-link:hover,
  .comment-navigation a:hover {
    background-color: #fff;
    border-color: #0e1353;
    color: #0e1353; }

.comment-navigation {
  position: relative; }
  .comment-navigation .nav-previous a {
    padding-left: 50px;
    position: relative;
    font-weight: 700; }
  .comment-navigation .nav-previous:hover a {
    background: #0e1353;
    color: #fff; }
    .comment-navigation .nav-previous:hover a .meta-nav {
      color: #fff; }
  .comment-navigation .nav-next a {
    padding-right: 50px;
    position: relative;
    font-weight: 700; }
  .comment-navigation .nav-next:hover a {
    background: #0e1353;
    color: #fff; }
    .comment-navigation .nav-next:hover a .meta-nav {
      color: #fff; }

.nav-links,
.more-link, .comment-navigation {
  position: relative; }
  .nav-links a,
  .more-link a, .comment-navigation a {
    position: relative;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif; }
  .nav-links .meta-nav,
  .more-link .meta-nav, .comment-navigation .meta-nav {
    width: 20px;
    height: 20px;
    background-color: #fff;
    display: inline-block;
    color: #33363a;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 22px;
    font-size: 2.2rem;
    position: absolute;
    line-height: 18px;
    top: 30%;
    font-weight: 700; }
  .nav-links .nav-previous:hover, .nav-links .nav-next:hover,
  .more-link .nav-previous:hover,
  .more-link .nav-next:hover, .comment-navigation .nav-previous:hover, .comment-navigation .nav-next:hover {
    box-shadow: 0 7px 6px -6px #000; }
  .nav-links .nav-previous, .nav-links .nav-next,
  .more-link .nav-previous,
  .more-link .nav-next, .comment-navigation .nav-previous, .comment-navigation .nav-next {
    box-shadow: 0 7px 6px -6px #000; }
  .nav-links .nav-previous a,
  .more-link .nav-previous a, .comment-navigation .nav-previous a {
    padding-left: 50px;
    font-weight: 700;
    border-radius: 3px; }
  .nav-links .nav-previous .meta-nav,
  .more-link .nav-previous .meta-nav, .comment-navigation .nav-previous .meta-nav {
    left: 20px; }
  .nav-links .nav-previous:hover a,
  .more-link .nav-previous:hover a, .comment-navigation .nav-previous:hover a {
    background: #03a9f4;
    color: #fff; }
    .nav-links .nav-previous:hover a .meta-nav,
    .more-link .nav-previous:hover a .meta-nav, .comment-navigation .nav-previous:hover a .meta-nav {
      color: #03a9f4;
      background: #fff; }
  .nav-links .nav-next a,
  .more-link .nav-next a, .comment-navigation .nav-next a {
    padding-right: 50px;
    font-weight: 700;
    border-radius: 3px; }
  .nav-links .nav-next .meta-nav,
  .more-link .nav-next .meta-nav, .comment-navigation .nav-next .meta-nav {
    right: 20px; }
  .nav-links .nav-next:hover a,
  .more-link .nav-next:hover a, .comment-navigation .nav-next:hover a {
    background: #03a9f4;
    color: #fff; }
    .nav-links .nav-next:hover a .meta-nav,
    .more-link .nav-next:hover a .meta-nav, .comment-navigation .nav-next:hover a .meta-nav {
      color: #03a9f4;
      background: #fff; }

a.more-link {
  padding: 5px 10px;
  color: #fff;
  width: 80px;
  border-radius: 3px;
  display: block;
  margin-top: 15px;
  font-size: 12px; }
  a.more-link:hover {
    background-color: #03a9f4;
    color: #fff; }

.nav-links a:hover .meta-nav {
  background-color: transparent;
  color: #0e1353; }

.page-navigation {
  margin-top: 60px; }

.menu.nav-menu::after, .menu.nav-menu::before {
  clear: both;
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0; }

ol.webulous_page_navi {
  margin: 0;
  list-style-type: none;
  position: relative;
  text-align: center; }
  ol.webulous_page_navi li {
    display: inline-block;
    margin-right: 10px;
    background-color: #03a9f4;
    color: #fff;
    border-radius: 100%; }
    ol.webulous_page_navi li a {
      display: inline-block;
      text-align: center;
      font-size: 20px;
      font-size: 2rem;
      color: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px; }
      ol.webulous_page_navi li a:before {
        position: absolute;
        color: #fff;
        font-size: 17px;
        font-size: 1.7rem;
        font-family: 'FontAwesome';
        left: 0px;
        top: 0;
        width: 50px;
        height: 50px;
        line-height: 50px; }
    ol.webulous_page_navi li:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  ol.webulous_page_navi .bpn-prev-link a:before {
    content: "\f053"; }
  ol.webulous_page_navi .bpn-next-link a:before {
    content: "\f054"; }
  ol.webulous_page_navi li.bpn-current {
    color: #fff;
    background-color: #33363a;
    text-align: center;
    font-size: 20px;
    font-size: 2rem;
    margin-right: 10px;
    padding: 10px 20px;
    position: relative;
    top: -18px; }
  ol.webulous_page_navi .bpn-next-link, ol.webulous_page_navi .bpn-prev-link {
    background: #03a9f4;
    border: none;
    display: inline-block;
    color: #fff; }

.sub-menu .current_page_item::before, .sub-menu .current-menu-item::before, .sub-menu .current_page_ancestor::before, .sub-menu .current-menu-parent::before {
  top: 0; }

/* sass for pagination */
.navigation.pagination, .navigation {
  clear: both; }

.masonry-blog-content .page-navigation, .masonry-blog-content .post-navigation {
  bottom: -50px;
  position: absolute;
  right: 0; }

.masonry-blog-content .post-navigation {
  width: 100%; }

/* sass for blog page box design */
.blog-box article {
  border: 1px solid #d7d7d7;
  border-bottom: none;
  padding-top: 0 !important;
  margin-bottom: 40px;
  margin-bottom: 40px; }
  .blog-box article header, .blog-box article .entry-content {
    padding-left: 20px;
    padding-right: 20px; }
  .blog-box article .entry-footer {
    margin-left: 20px;
    margin-right: 20px; }

ol.webulous_page_navi {
  position: static; }

.two-col-blog:nth-of-type(2n+1) {
  clear: both; }

/*--------------------------------------------------------------
6.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
6.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
6.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
7.0 Modules
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #fff;
    clip: auto !important;
    color: #000;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
8.0 Header
--------------------------------------------------------------*/
.branding {
  padding: 20px 0px 30px; }
  .branding .site-branding {
    text-align: left;
    position: relative; }
    .branding .site-branding .site-description {
      font-size: 16px;
      font-size: 1.6rem;
      color: #8f8f8f;
      font-family: "Roboto", sans-serif;
      padding: 0px 10px 10px 0px;
      position: relative;
      margin-bottom: 0;
      margin-top: -12px; }
    .branding .site-branding .site-title {
      margin-bottom: 0; }
      .branding .site-branding .site-title a {
        display: block; }
      .branding .site-branding .site-title a:first-letter {
        color: #33363a; }
      .branding .site-branding .site-title a:hover:first-letter {
        color: #03a9f4; }

.sticky-nav {
  position: fixed;
  top: -2px;
  left: 0;
  width: 100%;
  z-index: 1000; }

.admin-bar .nav-wrap.sticky-nav {
  top: 30px; }

.no-sidebar {
  float: none;
  margin: 0 auto;
  display: block; }

/* Custom Header Image */
.header-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  position: relative; }

.overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent; }

/* STICKY HEADER */
.sticky-header #nav-wrap {
  position: fixed;
  top: -2px;
  left: 0;
  width: 100%;
  z-index: 1000; }
  .sticky-header #nav-wrap .search-form {
    top: 5px; }

.boxed-container .sticky-header #nav-wrap {
  width: auto;
  left: auto; }

.admin-bar .sticky-header #nav-wrap {
  top: 30px; }

/* BREAK NEWS */
.breaknews .recent-news-wrapper {
  position: relative; }
.breaknews ul li, .breaknews ul {
  list-style: none; }
.breaknews ul {
  margin-top: -11px; }
.breaknews .bn-title {
  top: 20px;
  z-index: 1;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 6px; }
  .breaknews .bn-title:after {
    border-bottom-width: 19px;
    border-top-width: 19px; }

.top-nav {
  background: #33363a;
  margin-bottom: 0px;
  font-size: 14px; }
  .top-nav .eight {
    padding: 10px 0px 10px 0px;
    color: #fff; }
  .top-nav aside {
    margin-bottom: 10px; }
  .top-nav .textwidget {
    padding: 0; }
  .top-nav .widget_text {
    margin: 0px; }
  .top-nav ul {
    margin: 0; }
    .top-nav ul li {
      float: left;
      list-style: none;
      border-bottom: none !important;
      margin-right: 20px; }
      .top-nav ul li:hover a {
        color: #03a9f4; }
      .top-nav ul li a {
        color: #fff;
        padding: 4px 2px 4px 0px;
        border-radius: 5px;
        display: inline; }
      .top-nav ul li i {
        font-size: 15px;
        font-size: 1.5rem;
        padding-right: 5px;
        display: inline-block; }
  .top-nav .cart-right li {
    float: right;
    margin-right: 0; }

.top-right {
  margin-top: 30px; }
  .top-right ul {
    float: right; }
    .top-right ul li {
      float: right;
      margin-right: 10px;
      list-style: none; }
      .top-right ul li:first-child {
        margin-right: 0; }
      .top-right ul li:hover a {
        background: #03a9f4; }
      .top-right ul li a {
        width: 45px;
        height: 45px;
        line-height: 45px;
        background: #33363a;
        border-radius: 100%;
        color: #fff;
        display: inline-block;
        text-align: center; }
        .top-right ul li a .fa {
          display: inline-block;
          font-size: 17px;
          font-size: 1.7rem; }
        .top-right ul li a:hover {
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .top-right aside {
    margin: 0; }

/*--------------------------------------------------------------
9.0 Primary
--------------------------------------------------------------*/
.site-content {
  padding-top: 50px;
  margin-bottom: 100px; }

.site-main {
  margin: 1.5em 0; }
  .site-main article.post {
    padding: 20px 0; }

.single .site-main article.post {
  padding-top: 0; }

.fluid-header .nav-wrap .thirteen, .fluid-header .nav-wrap .sixteen {
  margin-left: 0; }

.share-box .widget-title {
  margin-bottom: 20px;
  color: #33363a; }
.share-box ul {
  margin: 0; }
  .share-box ul li {
    border: 0;
    padding: 0;
    margin: 0;
    display: inline; }
    .share-box ul li a {
      margin-bottom: 5px;
      border: 1px solid #d7d7d7;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      -webkit-border-radius: 5px;
      border-radius: 5px;
      width: 50px;
      height: 50px;
      color: #33363a;
      margin-right: 5px;
      display: inline-block;
      background-color: #fff;
      text-align: center;
      line-height: 50px; }
      .share-box ul li a:hover {
        color: #fff;
        background-color: #03a9f4;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
      .share-box ul li a i {
        font-size: 23px;
        font-size: 2.3rem;
        line-height: 2; }

.share-box {
  margin-bottom: 20px; }
  .share-box h4 {
    margin-bottom: 10px; }

.comment-content a {
  word-wrap: break-word; }

.comment-navigation {
  clear: both; }

.comment-content p {
  margin-bottom: 0;
  margin-top: 15px; }

.bypostauthor {
  display: block; }

h2.comments-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  line-height: normal; }

ol.comment-list {
  margin: 0;
  list-style-type: none; }

ol.comment-list ol.children {
  list-style-type: none;
  margin-left: 10%; }

ol.comment-list > li {
  margin-bottom: 20px; }

.comment-body {
  position: relative; }

ol.comment-list .reply {
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  position: absolute;
  left: -100px;
  top: 125px; }
  ol.comment-list .reply:hover a, ol.comment-list .reply:hover:before {
    color: #33363a; }
  ol.comment-list .reply:before {
    position: relative;
    right: 7px;
    content: "\f112";
    font-family: "FontAwesome";
    color: #03a9f4;
    font-size: 15px;
    font-size: 1.5rem; }

.byuser .reply a:hover {
  color: #fff; }

.comment-author {
  display: inline;
  text-transform: uppercase;
  color: #33363a; }
  .comment-author img {
    position: absolute;
    left: 0; }
  .comment-author .fn {
    font-style: normal; }
    .comment-author .fn a {
      color: #33363a; }
      .comment-author .fn a:hover {
        color: #03a9f4; }

ol.comment-list article {
  border: 1px solid #808080;
  margin-bottom: 50px;
  padding: 20px 25px;
  width: calc(100% - 140px);
  float: right;
  position: relative;
  z-index: 1;
  background: #f0f2f3;
  min-height: 120px; }
  ol.comment-list article .fn {
    color: #33363a;
    cursor: pointer; }
    ol.comment-list article .fn:hover {
      color: #03a9f4; }

ol.comment-list article .comment-author img {
  top: -2px;
  left: -140px;
  width: 120px;
  height: 120px;
  border: 1px solid #8f8f8f; }

ol.comment-list li.byuser .comment-metadata a:hover {
  color: #33363a; }

.comment-metadata {
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 10px; }
  .comment-metadata a {
    color: #8f8f8f;
    margin-left: 10px; }
    .comment-metadata a:hover {
      color: #03a9f4; }

.byuser .comment-metadata a:hover,
.byuser .comment-content a:hover {
  color: #fff; }

.hentry.sticky {
  color: #fff;
  background-color: #03a9f4;
  padding: 25px !important;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 70px !important; }
  .hentry.sticky:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -40px;
    height: 3px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7; }
  .hentry.sticky .entry-meta .date-structure .dd {
    color: #fff; }
  .hentry.sticky h1.entry-title a {
    color: #fff; }
    .hentry.sticky h1.entry-title a:hover {
      color: #33363a; }
  .hentry.sticky a {
    color: #fff; }
    .hentry.sticky a:hover {
      color: #0e1353; }
  .hentry.sticky span i {
    color: #fff; }
  .hentry.sticky span:hover i, .hentry.sticky span:hover a {
    color: #33363a; }
  .hentry.sticky code {
    color: #000; }
  .hentry.sticky .entry-footer,
  .hentry.sticky .entry-meta {
    margin-bottom: 0;
    border: 0; }
    .hentry.sticky .entry-footer a,
    .hentry.sticky .entry-meta a {
      color: #fff; }
      .hentry.sticky .entry-footer a:hover,
      .hentry.sticky .entry-meta a:hover {
        color: #33363a; }

.hentry.post {
  margin: 0 0 1em;
  border-bottom: 1px solid #d7d7d7; }
  .hentry.post h1 a {
    color: #000; }
    .hentry.post h1 a:hover {
      color: #03a9f4; }

.single .byline,
.group-blog .byline {
  display: inline; }

.home .entry-meta span {
  font-size: 14px; }

.sticky .entry-meta,
.sticky .entry-footer {
  background: none;
  padding: 0; }

.entry-meta .date-structure {
  display: inline-block;
  padding: 0px 10px;
  text-align: center; }
  .entry-meta .date-structure .dd {
    color: #8f8f8f; }

.entry-meta, .entry-footer {
  margin: 5px 0px 25px 0px;
  padding: 12px;
  position: relative;
  border: 1px solid #eaeaea; }

.entry-meta .author {
  padding: 0 10px 0 0; }
.entry-meta span {
  margin: 0 10px 0 0; }
  .entry-meta span span {
    margin: 0; }
  .entry-meta span i {
    color: #8f8f8f;
    padding-right: 5px; }
  .entry-meta span a {
    color: #8f8f8f; }
  .entry-meta span:hover i {
    color: #606060; }
  .entry-meta span:hover a {
    color: #606060; }

.entry-footer span {
  margin: 0 30px 0 10px;
  color: #8f8f8f; }
  .entry-footer span span {
    margin: 0; }
  .entry-footer span i {
    color: #8f8f8f;
    padding-right: 5px; }
  .entry-footer span a {
    color: #8f8f8f; }
  .entry-footer span:hover i {
    color: #606060; }
  .entry-footer span:hover a {
    color: #606060; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  margin: 0 0 1.5em;
  padding: 12px;
  text-align: center;
  color: #fff;
  background-color: #03a9f4;
  display: inline-block; }
  .page-links a {
    padding: 5px 10px;
    color: #33363a; }
    .page-links a:hover {
      color: #d7d7d7; }

blockquote {
  position: relative;
  margin: 0;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 30px;
  background-color: #03a9f4;
  font-size: 20px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 1% 10px 1% 40px;
  box-shadow: 0 7px 6px -6px black;
  border-radius: 3px; }
  blockquote:before {
    position: absolute;
    content: "\f10d";
    font-size: 25px;
    font-size: 2.5rem;
    font-family: 'FontAwesome';
    left: 20px;
    top: calc(1% + 25px );
    color: #fff; }
  blockquote p {
    margin-bottom: 0;
    font-size: 20px;
    font-size: 2rem;
    padding: 20px;
    color: #fff;
    position: relative;
    font-weight: 700; }
    blockquote p cite {
      font-style: normal;
      text-transform: uppercase;
      color: #fff; }
    blockquote p a, blockquote p a:visited {
      color: #fff;
      font-size: 14px;
      font-size: 1.4rem; }
    blockquote p a:hover {
      color: #8f8f8f; }

.related-posts {
  padding: 20px 0; }
  .related-posts ul#webulous-related-posts {
    list-style-type: none;
    margin: 0; }
    .related-posts ul#webulous-related-posts li {
      width: 18%;
      float: left;
      margin: 1%;
      line-height: normal; }
      .related-posts ul#webulous-related-posts li a {
        line-height: normal; }

.home .site-content {
  padding-top: 0; }
  .home .site-content .site-main {
    margin-top: 0; }

/* service title divider */
.title-divider {
  text-align: center;
  padding-bottom: 20px;
  position: relative; }
  .title-divider:before {
    position: absolute;
    font-family: "FontAwesome";
    font-size: 10px;
    font-size: 1rem;
    content: "\f005";
    color: #03a9f4;
    background: #fff;
    border: 1px solid #03a9f4;
    border-radius: 10px;
    bottom: 0;
    left: calc( 45% + 55px );
    padding: 2px 4px 2px 3px;
    line-height: 13px;
    z-index: 1; }
  .title-divider:after {
    position: absolute;
    content: "";
    background: #03a9f4;
    height: 1px;
    width: 130px;
    left: calc( 45% );
    bottom: 9px; }

/* service wrapper */
.services-wrapper {
  padding: 80px 0px;
  text-align: center;
  margin-bottom: 80px; }
  .services-wrapper .service {
    text-align: center; }
    .services-wrapper .service:nth-of-type(3n+1) {
      clear: both; }
    .services-wrapper .service:hover {
      border-color: #03a9f4; }
      .services-wrapper .service:hover span:after {
        border-color: #33363a; }
      .services-wrapper .service:hover h4 {
        color: #03a9f4; }
      .services-wrapper .service:hover .service-content {
        border-color: #03a9f4; }
      .services-wrapper .service:hover img, .services-wrapper .service:hover .demo-thumb {
        transform: scale(1.2); }
    .services-wrapper .service img {
      border-radius: 100%;
      position: relative;
      top: 75px;
      z-index: 1; }
    .services-wrapper .service .service-content {
      border: 2px solid #d7d7d7;
      padding: 95px 20px 20px;
      position: relative; }
      .services-wrapper .service .service-content h4 {
        margin-bottom: 5px; }
      .services-wrapper .service .service-content .more-link {
        margin: 15px auto 0px; }
    .services-wrapper .service h4 {
      text-transform: uppercase; }
    .services-wrapper .service .demo-thumb {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background: #03a9f4;
      position: relative;
      top: 45px;
      display: inline-block;
      z-index: 1;
      text-align: center; }
      .services-wrapper .service .demo-thumb i {
        color: #fff;
        display: block;
        margin-top: 15px; }
    .services-wrapper .service p {
      color: #444;
      margin: 0;
      padding: 5px 0px 10px; }

/* Flex Recent Post */
.post-wrapper {
  padding: 100px 0px;
  background: #f0f2f3;
  position: relative; }
  .post-wrapper:before {
    position: absolute;
    content: "";
    backgroud-color: #f0f2f3;
    height: 26px;
    width: 25px;
    top: -20px;
    left: 50%;
    border: 2px solid #d7d7d7;
    border-radius: 15px;
    background: #f0f2f3;
    border-bottom-color: #f0f2f3;
    z-index: 1; }
  .post-wrapper:after {
    position: absolute;
    content: "";
    border: 1px solid #d7d7d7;
    width: 500px;
    top: 1px;
    left: calc(50% - 250px); }
  .post-wrapper .latest-posts {
    padding-top: 80px; }
  .post-wrapper .one-third:nth-child(3n+1) {
    clear: both; }
  .post-wrapper .latest-post {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
    margin-bottom: 2.5em;
    background: #fff;
    border: 1px solid #d7d7d7;
    text-align: left; }
  .post-wrapper h3 {
    margin-bottom: 0;
    padding: 0px 20px; }
    .post-wrapper h3 a {
      color: #33363a; }
      .post-wrapper h3 a:hover {
        color: #03a9f4; }
  .post-wrapper .entry-meta {
    border: none;
    margin-bottom: 0;
    padding: 0px 20px 20px; }
    .post-wrapper .entry-meta span a, .post-wrapper .entry-meta span i, .post-wrapper .entry-meta span {
      color: #8f8f8f; }
    .post-wrapper .entry-meta span:hover {
      color: #03a9f4; }
      .post-wrapper .entry-meta span:hover i, .post-wrapper .entry-meta span:hover a {
        color: #03a9f4; }
  .post-wrapper .data-structure {
    display: inline-block;
    text-align: left; }
  .post-wrapper .latest-post-content {
    margin: 0 20px;
    border-bottom: 1px solid #d7d7d7; }
  .post-wrapper .latest-post-thumb img {
    margin-bottom: 20px;
    margin-top: 0px; }
  .post-wrapper .btn-readmore {
    display: inline-block;
    padding: 20px 0px 0px 20px;
    color: #03a9f4; }
    .post-wrapper .btn-readmore:hover {
      color: #33363a; }

.error-404.not-found {
  text-align: center; }
  .error-404.not-found h1.page-title {
    text-align: center;
    margin-bottom: 30px; }
    .error-404.not-found h1.page-title span {
      color: #0e1353;
      display: block; }

.no-results input[type="search"], .not-found input[type="search"] {
  float: left;
  width: 75%; }
.no-results input[type="submit"], .not-found input[type="submit"] {
  float: left;
  width: 20%;
  position: relative;
  right: -4px;
  top: -5px; }

.home .site-content {
  padding-bottom: 0;
  margin-bottom: 0; }
  .home .site-content .site-main {
    margin-bottom: 0; }

.home.blog .site-content .container {
  margin-bottom: 50px; }
.home.blog .main-navigation ul.nav-menu > li {
  top: 0; }

.breadcrumb {
  background: #33363a;
  position: relative;
  padding: 20px 0px;
  margin-top: 0; }
  .breadcrumb a {
    color: #03a9f4; }
    .breadcrumb a:hover {
      color: #fff; }
  .breadcrumb .breadcrumb-left h4 {
    font-size: 35px;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0; }
  .breadcrumb .breadcrumb-right {
    text-align: right;
    color: #fff;
    float: right;
    margin-top: 10px; }

.site-content.test {
  padding-top: 50px; }
  .site-content.test .widget-area {
    margin-top: 0; }

.flexslider {
  border: 0 !important;
  margin-bottom: 0;
  -webkit-box-shadow: inset 0 0 0 transparent !important;
  -moz-box-shadow: inset 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 transparent !important;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  background: transparent !important; }
  .flexslider .slides > li {
    position: relative; }
  .flexslider .flex-direction-nav a {
    margin: 0;
    text-align: center;
    top: 45%;
    opacity: 1;
    overflow: visible;
    width: 70px;
    height: 70px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 0px;
    font-size: 0rem;
    line-height: 70px;
    background: #fff !important; }
    .flexslider .flex-direction-nav a:before {
      font-size: 22px;
      font-size: 2.2rem; }
    .flexslider .flex-direction-nav a:hover {
      background: #03a9f4 !important; }
      .flexslider .flex-direction-nav a:hover:before {
        color: #fff; }
  .flexslider .flex-direction-nav a.flex-prev:after {
    left: 5px; }
  .flexslider .flex-direction-nav a.flex-next:after {
    right: 5px; }
  .flexslider .flex-direction-nav a.flex-prev {
    left: 50px; }
  .flexslider .flex-direction-nav a.flex-next {
    right: 50px; }
  .flexslider .flex-control-nav {
    text-align: right;
    bottom: 0; }
    .flexslider .flex-control-nav li {
      display: block;
      float: left;
      margin: 0; }
    .flexslider .flex-control-nav a {
      color: #d7d7d7;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      -webkit-border-radius: 0px !important;
      border-radius: 0px !important;
      -webkit-box-shadow: inset 0 0 0 transparent;
      -moz-box-shadow: inset 0 0 0 transparent;
      box-shadow: inset 0 0 0 transparent;
      background-color: #d7d7d7;
      font-size: 16px;
      font-size: 1.6rem;
      width: 20px;
      height: 20px;
      text-indent: 0;
      text-align: center;
      line-height: 30px; }
  .flexslider ol.flex-control-paging {
    text-align: center;
    bottom: 10px;
    z-index: 10; }
    .flexslider ol.flex-control-paging li {
      float: none;
      display: inline; }
      .flexslider ol.flex-control-paging li a {
        display: inline-block;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        -webkit-border-radius: 25px !important;
        border-radius: 25px !important;
        width: 12px;
        height: 12px;
        line-height: 12px;
        background-color: #fff;
        border: 0 !important;
        text-indent: -9999em !important;
        margin: 0 3px; }
      .flexslider ol.flex-control-paging li a.flex-active, .flexslider ol.flex-control-paging li a:hover {
        background-color: #33363a;
        border: 4px solid #fff !important;
        border-radius: 25px;
        width: 18px;
        height: 18px;
        line-height: 12px; }
  .flexslider:hover .flex-direction-nav a.flex-prev {
    left: 60px !important;
    background-color: black;
    opacity: 1; }
  .flexslider:hover .flex-direction-nav a.flex-next {
    right: 60px !important;
    background-color: black;
    opacity: 1; }

.flexslider .flex-caption {
  position: absolute;
  bottom: 8%;
  left: 10%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 20px;
  background: rgba(51, 54, 58, 0.5); }
  .flexslider .flex-caption h1, .flexslider .flex-caption h2, .flexslider .flex-caption h3, .flexslider .flex-caption h4, .flexslider .flex-caption h5, .flexslider .flex-caption h6, .flexslider .flex-caption p, .flexslider .flex-caption li {
    color: #fff;
    padding: 5px;
    display: block; }
  .flexslider .flex-caption h1, .flexslider .flex-caption h2, .flexslider .flex-caption h3, .flexslider .flex-caption h4, .flexslider .flex-caption h5, .flexslider .flex-caption h6 {
    position: relative;
    padding-bottom: 20px; }
    .flexslider .flex-caption h1:before, .flexslider .flex-caption h2:before, .flexslider .flex-caption h3:before, .flexslider .flex-caption h4:before, .flexslider .flex-caption h5:before, .flexslider .flex-caption h6:before {
      position: absolute;
      font-family: "FontAwesome";
      font-size: 10px;
      font-size: 1rem;
      content: "\f005";
      color: #03a9f4;
      background: #fff;
      border: 1px solid #fff;
      border-radius: 10px;
      bottom: 0;
      left: 49%;
      padding: 2px 4px 2px 3px;
      line-height: 13px;
      z-index: 1; }
    .flexslider .flex-caption h1:after, .flexslider .flex-caption h2:after, .flexslider .flex-caption h3:after, .flexslider .flex-caption h4:after, .flexslider .flex-caption h5:after, .flexslider .flex-caption h6:after {
      position: absolute;
      content: "";
      background: #fff;
      height: 1px;
      width: 130px;
      left: calc(49% - 55px);
      bottom: 9px; }
  .flexslider .flex-caption p {
    font-weight: 700;
    font-size: 18px;
    font-size: 1.8rem; }
  .flexslider .flex-caption a {
    color: #fff;
    background: #03a9f4;
    margin: 0;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid #03a9f4;
    text-transform: none;
    font-weight: 700;
    padding: 8px 20px;
    text-align: center; }
    .flexslider .flex-caption a:hover {
      background: #33363a; }

.woocommerce button.button,
.woocommerce-page button.button,
.woocommerce #content table.cart input,
.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
  color: #fff;
  background: #33363a; }

.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover {
  background: none !important;
  background-color: #03a9f4 !important;
  color: #fff; }

.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
  background: #272727 !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #272727 0%, #45484d 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #272727), color-stop(100%, #45484d)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #272727 0%, #45484d 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #272727 0%, #45484d 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #272727 0%, #45484d 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #272727 0%, #45484d 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#45484d',GradientType=0 ) !important;
  /* IE6-9 */
  border: 1px solid #333; }

.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
  border-color: #000;
  background: #666 !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666 0%, #45484d 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #45484d)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #666 0%, #45484d 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #666 0%, #45484d 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #666 0%, #45484d 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #666 0%, #45484d 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666', endColorstr='#45484d',GradientType=0 ) !important;
  /* IE6-9 */ }

.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before {
  background-color: #333; }

.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message {
  border-color: #333; }

.order-total .amount,
.cart-subtotal .amount {
  color: #03a9f4; }

.woocommerce #payment div.payment_box,
.woocommerce-page #payment div.payment_box {
  background: #f2f9fe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f2f9fe 0%, #d6f0fd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
  /* IE6-9 */ }

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price {
  color: #33363a; }

.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart {
  background-color: #666;
  color: #fff; }

.woocommerce a.added_to_cart:hover,
.woocommerce-page a.added_to_cart:hover {
  background-color: #000; }

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
  color: #fff; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
  background: #f2f9fe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f2f9fe 0%, #d6f0fd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
  /* IE6-9 */ }

.woocommerce #content table.cart a.remove,
.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
  color: #03a9f4; }

.woocommerce #content table.cart a.remove:hover,
.woocommerce table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover {
  background-color: #33363a; }

.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel {
  background-color: #d7d7d7; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
  background: #03a9f4;
  color: #fff; }

.woocommerce span.onsale, .woocommerce-page span.onsale {
  background: #fceabb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceabb), color-stop(50%, #fccd4d), color-stop(51%, #f8b500), color-stop(100%, #fbdf93));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
  /* IE6-9 */ }

.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span {
  background-color: #33363a;
  color: #fff !important; }

.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current {
  background-color: #03a9f4;
  color: #fff; }

.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce #content nav.woocommerce-pagination ul {
  background-color: #33363a; }

.woocommerce-error li strong {
  color: #B81C23; }

.woocommerce .site-content,
.woocommerce-page .site-content {
  margin-bottom: 0; }

.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
  border: 0;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-shadow: 0 0 0;
  font-weight: 400; }

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
  padding-top: 0;
  height: 2.5em;
  line-height: 2.5;
  width: 2em; }

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce-page form .form-row input.input-text,
.woocommerce-page form .form-row textarea {
  line-height: normal;
  border: 1px solid #aea9a9;
  color: #000; }

.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart {
  padding: 2px 15px 1px 30px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
  text-decoration: none; }

.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce-page .woocommerce-breadcrumb a:hover {
  color: #03a9f4; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
  font-weight: 400;
  padding: 0.5em 1em;
  background-color: transparent;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border-top: 0;
  position: static; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover {
  position: static; }

.woocommerce #content div.product form.cart table.variations,
.woocommerce div.product form.cart table.variations,
.woocommerce-page #content div.product form.cart table.variations,
.woocommerce-page div.product form.cart table.variations,
.woocommerce #content div.product form.cart table.variations td,
.woocommerce div.product form.cart table.variations td,
.woocommerce-page #content div.product form.cart table.variations td,
.woocommerce-page div.product form.cart table.variations td {
  border: 0; }

.cross-sells h2,
.shipping_calculator h2 {
  font-size: 1.6em; }

.woocommerce #content table.cart a.remove,
.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
  margin: 0 auto; }

.woocommerce #content table.cart td.actions input#coupon_code,
.woocommerce table.cart td.actions input#coupon_code,
.woocommerce-page #content table.cart td.actions input#coupon_code,
.woocommerce-page table.cart td.actions input#coupon_code {
  width: auto; }

.woocommerce button.button,
.woocommerce-page button.button {
  padding: 10px 12px; }

.woocommerce .cart button.single_add_to_cart_button {
  padding: 6px 12px 5px; }

.woocommerce button.button, .woocommerce-page button.button,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel {
  padding: 20px;
  border: 1px solid #e0dadf;
  border-top: 0; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
  margin-bottom: 0; }

.woocommerce #content table.cart td.actions .coupon #coupon_code,
.woocommerce table.cart td.actions .coupon #coupon_code,
.woocommerce-page #content table.cart td.actions .coupon #coupon_code,
.woocommerce-page table.cart td.actions .coupon #coupon_code {
  padding: 4px 6px; }

.woocommerce #content div.product .stock,
.woocommerce div.product .stock,
.woocommerce-page #content div.product .stock,
.woocommerce-page div.product .stock {
  text-decoration: underline;
  color: #333; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
  padding: 0;
  margin: 0; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
  background: #33363a;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 0;
  margin: 0; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
  color: #fff;
  text-shadow: 0 0 0;
  padding: 7px 20px !important; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover {
  text-decoration: none; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
  z-index: 2;
  border-bottom-color: transparent; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after {
  display: none !important; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before {
  display: none !important; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before {
  display: none !important; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after {
  display: none !important; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
  display: none !important; }

.woocommerce span.onsale, .woocommerce-page span.onsale {
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 10px 12px; }

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
  margin: -15px -15px 0 0; }

.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span {
  border: 0;
  padding: 3px 10px; }

.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current {
  border: 0; }

.woocommerce #content nav.woocommerce-pagination ul li {
  border: 0; }

.woocommerce #content nav.woocommerce-pagination ul {
  padding: 7px 10px;
  border: 0; }

.woocommerce-page .site-footer,
.woocommerce-page .footer-bottom,
.woocommerce-page .woocommerce-breadcrumb {
  padding: 0 50%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 -50%; }

.woocommerce a.remove {
  background: #03a9f4;
  color: #fff !important; }

.woocommerce #primary {
  margin: 50px 0px; }

/* SITE STYLE */
.container .container {
  width: 100%; }

.fluid-container .container {
  width: 100%;
  max-width: none; }

.boxed-container {
  overflow: hidden; }

/* single page & blog */
.single_page_flexslider_feature_image {
  width: 100%; }

/*--------------------------------------------------------------
10.0 Secondary
--------------------------------------------------------------*/
#secondary {
  padding: 11px 25px 20px; }

.right-sidebar {
  padding-left: 0px !important;
  padding-right: 50px; }

#secondary .left-sidebar {
  background: #f0f2f3 none repeat scroll 0 0;
  border: 1px solid #d7d7d7;
  padding: 40px 25px; }

.widget-area {
  margin-top: 1.5em; }
  .widget-area h4.widget-title {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #03a9f4; }
  .widget-area ul li {
    padding: 8px 0 8px;
    border-bottom: 1px solid #d7d7d7; }
    .widget-area ul li a {
      color: #33363a; }
      .widget-area ul li a:hover {
        color: #03a9f4; }
    .widget-area ul li li:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
    .widget-area ul li ul.children,
    .widget-area ul li .sub-menu {
      padding-top: 5px; }
      .widget-area ul li ul.children li:last-child,
      .widget-area ul li .sub-menu li:last-child {
        padding-bottom: 0; }
  .widget-area select {
    width: 100%;
    background: url("images/down.png") no-repeat 95% 50%;
    -moz-appearance: none;
    border: 1px solid #d7d7d7;
    padding: 5px 10% 5px 3%; }

.widget-area ul li {
  background: url("images/sidebar-list-style.png") no-repeat left 16px;
  padding-left: 25px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .widget-area ul li li {
    padding-left: 5px; }
  .widget-area ul li:hover {
    background-position: 10px 16px; }
.widget-area ul.children {
  border-top: 1px solid #d7d7d7;
  padding-top: 0 !important;
  margin-left: -25px;
  padding-left: 0;
  margin-top: 15px; }
  .widget-area ul.children li {
    padding-left: 50px;
    background-position: 25px 16px; }
    .widget-area ul.children li:hover {
      background-position: 37px 16px; }
  .widget-area ul.children ul.children {
    margin-left: -50px; }
    .widget-area ul.children ul.children li {
      padding-left: 75px;
      background-position: 50px 16px; }
      .widget-area ul.children ul.children li:hover {
        background-position: 67px 16px; }
    .widget-area ul.children ul.children ul.children {
      margin-left: -75px; }
      .widget-area ul.children ul.children ul.children li {
        padding-left: 100px;
        background-position: 75px 16px; }
        .widget-area ul.children ul.children ul.children li:hover {
          background-position: 92px 16px; }

#secondary .widget, .site-footer .widget, .site-header .widget {
  margin: 0 0 3.5em 0;
  /* Make sure select elements fit in widgets */ }
  #secondary .widget ul, #secondary .widget ol, .site-footer .widget ul, .site-footer .widget ol, .site-header .widget ul, .site-header .widget ol {
    padding: 0;
    margin: 0;
    list-style: none; }
    #secondary .widget ul li ul, #secondary .widget ul li ol, #secondary .widget ol li ul, #secondary .widget ol li ol, .site-footer .widget ul li ul, .site-footer .widget ul li ol, .site-footer .widget ol li ul, .site-footer .widget ol li ol, .site-header .widget ul li ul, .site-header .widget ul li ol, .site-header .widget ol li ul, .site-header .widget ol li ol {
      padding: 0; }
  #secondary .widget select, .site-footer .widget select, .site-header .widget select {
    max-width: 100%; }

.site-header .widget {
  margin: 0; }

#secondary .left-sidebar aside {
  margin: 0 0 5.5em 0; }
  #secondary .left-sidebar aside:last-child {
    margin-bottom: 0; }

#secondary #recentcomments a {
  color: #03a9f4; }
  #secondary #recentcomments a:hover {
    color: #0e1353; }

.site-info .left-sidebar .widget-title, .top-nav .widget-title, .top-right .widget-title {
  display: none; }

.widget_calendar table th, .widget_calendar table td {
  text-align: center;
  padding: 7px 5px;
  border: 0; }
  .widget_calendar table th a, .widget_calendar table td a {
    display: block;
    color: #03a9f4; }
    .widget_calendar table th a:hover, .widget_calendar table td a:hover {
      color: #0e1353; }
.widget_calendar table th {
  font-weight: 400; }
.widget_calendar table td#prev {
  text-align: left; }
.widget_calendar table td#next {
  text-align: right; }
.widget_calendar table caption {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  background-color: #33363a;
  color: #fff;
  padding: 5px 0; }

.widget-area .rss-date,
.widget-area .widget_rss cite {
  display: block;
  color: #d7d7d7;
  margin: 5px 0; }
.widget-area .widget_rss span {
  color: #8f8f8f; }
.widget-area .widget_rss cite {
  color: #8f8f8f; }
.widget-area .widget_rss a {
  color: #03a9f4;
  font-family: "Roboto", sans-serif; }
  .widget-area .widget_rss a:hover {
    color: #33363a; }
.widget-area .widget_rss .widget-title .rsswidget {
  color: #33363a; }
  .widget-area .widget_rss .widget-title .rsswidget img {
    margin: 0; }
.widget-area .widget_rss ul li {
  background: none;
  padding-left: 0; }
.widget-area .rssSummary {
  font-size: .95em; }

.widget_search .search-form {
  position: relative; }
  .widget_search .search-form label {
    display: block; }
  .widget_search .search-form input[type="search"] {
    color: #33363a;
    width: 100%;
    padding: 5px;
    background: transparent; }
  .widget_search .search-form input[type="search"]:focus {
    background: #fff;
    color: #33363a !important; }
  .widget_search .search-form input[type="submit"] {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999em;
    background: url("images/header-search.png") no-repeat 100% 40%; }

.nav-wrap .search-form {
  top: 13px;
  text-align: right;
  position: relative;
  margin: 0px 10px; }
  .nav-wrap .search-form input.search-field {
    padding: 1px 20px 2px 0px;
    width: 95%;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent; }
  .nav-wrap .search-form input[type="search"]:focus {
    border-bottom-color: rgba(255, 255, 255, 0.7); }
  .nav-wrap .search-form input[type="submit"] {
    background: url("images/header-search-white.png") no-repeat 100% 40%; }
  .nav-wrap .search-form .search-submit {
    position: absolute;
    right: -5px;
    margin: 0;
    padding: 0;
    top: 10px;
    border: none;
    color: transparent;
    background: url(images/header-search.png) no-repeat center center; }
  .nav-wrap .search-form .btn-search {
    position: absolute;
    right: 10px;
    top: 8px; }

.widget-area .textwidget select {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #d7d7d7; }

.wp-caption .wp-caption-text {
  margin: 0; }

.widget_tag_cloud a {
  padding: 4px 15px;
  color: #fff;
  margin: 3px;
  display: inline-block;
  background-color: #03a9f4;
  border: 1px solid #03a9f4; }
  .widget_tag_cloud a:hover {
    background: #33363a; }

.widget_nav_menu a {
  display: block; }
.widget_nav_menu ul.sub-menu li {
  text-indent: 0; }
.widget_nav_menu ul.sub-menu {
  border-top: 1px solid #d7d7d7;
  padding-top: 0 !important;
  margin-left: -10px;
  padding-left: 0;
  margin-top: 15px; }
  .widget_nav_menu ul.sub-menu li {
    padding-left: 25px; }

/*--------------------------------------------------------------
11.0 Footer
--------------------------------------------------------------*/
.site-footer .footer-widgets {
  margin-top: 0; }

.site-footer {
  background: #33363a;
  position: relative; }
  .site-footer .footer-widgets {
    color: #fff;
    padding: 90px 0 50px; }
    .site-footer .footer-widgets h4.widget-title {
      color: #fff;
      padding-bottom: 10px;
      font-size: 28px;
      font-size: 2.8rem;
      text-transform: capitalize; }
    .site-footer .footer-widgets ul li {
      color: #BFBEBE;
      border-bottom: 1px solid #8f8f8f;
      background: url("images/footer-list-style.png") no-repeat left 12px;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 10%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .site-footer .footer-widgets ul li:hover {
        background-position: 10px 12px; }
    .site-footer .footer-widgets ul.children,
    .site-footer .footer-widgets .widget_nav_menu ul.sub-menu {
      border-color: rgba(255, 255, 255, 0.2); }
    .site-footer .footer-widgets #calendar_wrap td, .site-footer .footer-widgets #calendar_wrap th {
      color: #fff; }
    .site-footer .footer-widgets #calendar_wrap a {
      color: #03a9f4; }
      .site-footer .footer-widgets #calendar_wrap a:hover {
        color: #fff; }
    .site-footer .footer-widgets .widget_calendar table caption {
      background: #03a9f4; }
    .site-footer .footer-widgets select {
      width: 100%;
      background: #fff url("images/down.png") no-repeat 95% 50% white;
      -moz-appearance: none;
      border: 1px solid #d7d7d7;
      padding: 5px 10% 5px 3%; }
    .site-footer .footer-widgets .widget_search .search-form input[type="search"] {
      color: #fff; }
    .site-footer .footer-widgets a {
      color: #fff; }
      .site-footer .footer-widgets a:hover {
        color: #03a9f4; }
    .site-footer .footer-widgets p {
      margin-bottom: 0; }
    .site-footer .footer-widgets .widget_nav_menu li {
      border-bottom: none; }
      .site-footer .footer-widgets .widget_nav_menu li ul.sub-menu {
        border-top: none; }
    .site-footer .footer-widgets .widget_tag_cloud a:hover {
      color: #fff; }
    .site-footer .footer-widgets .widget_rss ul li {
      background: none; }
  .site-footer .scroll-to-top {
    background: #03a9f4;
    color: #fff;
    bottom: 3%;
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 999;
    text-align: center;
    line-height: 40px;
    width: 40px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear; }
  .site-footer .scroll-to-top:hover {
    background: rgba(3, 169, 244, 0.6); }
  .site-footer .textwidget .wpcf7-form p {
    margin-bottom: 3px; }

.site-info {
  background: #525050; }
  .site-info .copyright {
    padding: 20px 0px; }
  .site-info .left-sidebar {
    text-align: rigth;
    padding-top: 12px; }
    .site-info .left-sidebar li a {
      font-family: "Roboto", sans-serif; }
  .site-info .widget {
    margin: 0; }
  .site-info p {
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem; }
    .site-info p a {
      color: #03a9f4; }
      .site-info p a:hover {
        color: #fff; }
  .site-info .widget_nav_menu ul {
    text-align: right; }
  .site-info .widget_nav_menu .sub-menu {
    border-top: none; }
  .site-info .widget_nav_menu li {
    border: 0;
    padding: 0;
    display: inline; }
  .site-info .widget_nav_menu a {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    color: #fff;
    padding: 4px 10px;
    font-size: 13px;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    position: relative; }
    .site-info .widget_nav_menu a:hover {
      color: #03a9f4; }

/*--------------------------------------------------------------
12.0 Responsiveness
--------------------------------------------------------------*/
@media only screen and (min-width: 960px) {
  .main-navigation ul ul li:hover > ul {
    right: 100%; } }
@media only screen and (max-width: 960px) {
  .main-navigation ul ul li:hover > ul {
    left: 100%; }

  .top-nav .container .eight.columns {
    width: 100%;
    text-align: center; }
    .top-nav .container .eight.columns li {
      display: inline-block;
      float: none; } }
@media only screen and (max-width: 1024px) {
  .widget_nav_menu ul.sub-menu li {
    padding-left: 20px; }

  .post-wrapper .latest-post {
    margin-left: 0;
    margin-right: 0; } }
@media only screen and (max-width: 850px) {
  .widget_nav_menu ul.sub-menu li {
    padding-left: 15px !important; } }
@media only screen and (max-width: 600px) {
  .title-divider::before {
    left: calc(35% + 55px); }

  .title-divider::after {
    left: calc(35%); } }
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .title-divider::before {
    left: calc(40% + 55px); }

  .title-divider::after {
    left: calc(40%); } }
@media only screen and (max-width: 768px) {
  .breadcrumb-left, .breadcrumb-right {
    text-align: center !important; }

  .breadcrumb .container .eight.columns, .branding .container .eight.columns {
    width: 100%;
    text-align: center; }
  .breadcrumb .site-title, .breadcrumb .site-description, .branding .site-title, .branding .site-description {
    text-align: center; }
  .breadcrumb .top-right, .branding .top-right {
    text-align: center; }
    .breadcrumb .top-right ul, .branding .top-right ul {
      float: none; }
    .breadcrumb .top-right li, .branding .top-right li {
      float: none;
      display: inline-block; }
    .breadcrumb .top-right li:first-child, .branding .top-right li:first-child {
      margin-right: 10px; }

  .post-wrapper .latest-post {
    text-align: center; }

  .widget_calendar table th, .widget_calendar table td {
    padding: 7px 2px; }

  .top-nav {
    padding-top: 10px; }

  .site-branding {
    text-align: center; }
    .site-branding img {
      margin: 0 auto; }

  .main-navigation {
    margin: 0; }
    .main-navigation a {
      padding: 15px; }

  #secondary {
    padding-left: 0; }

  .flexslider .flex-caption {
    position: static;
    background-color: #0e1353;
    padding: 30px 20px;
    min-height: 300px;
    width: 100%; }

  .flexslider ol.flex-control-paging {
    bottom: 0; }

  .post-wrapper .latest-post a.btn-readmore {
    display: inline-block;
    width: auto; }

  .copyright, .left-sidebar, .site-info .widget_nav_menu ul {
    text-align: center; }

  .latest-post {
    border: 1px solid #8f8f8f;
    margin-bottom: 50px !important; }

  .nav-wrap .search-form {
    margin-bottom: 30px; }

  .copyright {
    padding-bottom: 0 !important; }

  .site-info .left-sidebar {
    padding-bottom: 10px !important; }

  #secondary {
    left: 0 !important; } }
@media only screen and (max-width: 700px) {
  #commentform .comment-form-author,
  #commentform .comment-form-email,
  #commentform .comment-form-url {
    width: 100%;
    float: none;
    margin-right: 0; }

  #commentform .comment-form-author input,
  #commentform .comment-form-url input,
  #commentform .comment-form-email input {
    width: 100%; }

  .nav-links .nav-previous,
  .nav-links .nav-next,
  .comment-navigation .nav-previous,
  .comment-navigation .nav-next {
    width: 100%;
    float: none;
    margin-bottom: 10px; }

  .post-navigation .nav-links a,
  .comment-navigation .nav-previous a,
  .comment-navigation .nav-next a {
    display: block; } }
@media only screen and (max-width: 480px) {
  .main-navigation {
    padding: 10px 0; }
    .main-navigation button.menu-toggle {
      margin: 0 auto;
      font-size: 15px;
      font-size: 1.5rem;
      background: #33363a;
      border: 1px solid #33363a; }
      .main-navigation button.menu-toggle:hover {
        background: #03a9f4; }
    .main-navigation .menu-all-pages-container {
      padding-top: 0; }

  .flex-recent-posts li {
    width: 100%; }
    .flex-recent-posts li img {
      max-width: 100%;
      width: 100%; }

  ol.comment-list ol.children {
    margin-left: 1em; }

  .flexslider ol.flex-control-paging li a {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-width: 3px; } }
@media only screen and (max-width: 400px) {
  .title-divider::before {
    left: calc(30% + 55px); }

  .title-divider::after {
    left: calc(30%); } }

/*# sourceMappingURL=style.css.map */
